* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body,
input {
  font-family: "Poppins", sans-serif;
}
/* 
  .contenedor {
    width: 100%;
    position: absolute;
    height: 2000px;
    width: 2000px;
    top: -10%;
    right: 48%;
    background-image: linear-gradient(-45deg, #505468 0%, #373B4D 100%);
    border-radius: 50%;
    z-index: 6;
    transform: translateY(-50%);
    min-height: 100vh;
  } */
  
  .contenedor_formulario {
    position: absolute;
    top: 0%;
    left: 20%;
    width:100%;
    min-height: 100%;
    overflow: hidden;
    display: flex;  }

  #no_cuenta{
    color: white;
  }

  #no_cuenta a{
    text-decoration: none;
  }

  .formulario-inicio-sesion {
    width: fit-content;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 60px;
    padding-right: 60px;
    border: 1px;
    border-color: #505468;
    border-style: solid;
    border-radius: 20px;
    background-color: #505468;
    margin-right: 30%;
  }

  .signin-signup {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 75%;
    width: 50%;
    display: grid;
    grid-template-columns: 1fr;
    z-index: 5;
  }

  form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0rem 5rem;
    transition: all 0.2s 0.7s;
    overflow: hidden;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    margin: auto;
  }

  /* form.formulario-inicio-sesion {
    z-index: 1;
  } */

  .titulo {
    font-size: 2.2rem;
    color: rgb(255, 255, 255);
    margin-bottom: 10px;
  }
  
  .input {
    max-width: 380px;
    width: 100%;
    background-color: #f0f0f0;
    margin: 10px 0;
    height: 55px;
    border-radius: 55px;
    display: grid;
    grid-template-columns: 15% 85%;
    padding: 0 0.4rem;
    position: relative;
  }
  
  .input i {
    text-align: center;
    line-height: 55px;
    color: #acacac;
    transition: 0.5s;
    font-size: 1.1rem;
  }
  
  .input input {
    background: none;
    outline: none;
    border: none;
    line-height: 1;
    font-weight: 600;
    font-size: 1.1rem;
    color: #333;
  }
  
  .input input::placeholder {
    color: #aaa;
    font-weight: 500;
  }

  .btn {
    width: 150px;
    background-color: #373B4D;
    border: none;
    outline: none;
    height: 49px;
    border-radius: 49px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    margin: 10px 0;
    cursor: pointer;
    transition: 0.5s;
  }
  
  .btn:hover {
    background-color: #4a5066;
  }

  a{
      color: #2a2c2e;
  }

  a:hover{
      color: #ffffff;
  }