    <div id="div_sidebar" class="sidebar open">
        <div class="logo">
            <div class="logo_name">Bligs<u>ed</u></div>
            <i class='bx bx-menu' id="btn" onclick="cierraHijos()"></i>
        </div>
        <ul class="nav-list">
  
            <li>
                <a href="../../../home">
                    <i class='bx bx-grid-alt'></i>
                    <span class="links_name">Inicio</span>
                </a>
                <span class="tooltip">Inicio</span>
            </li>
            
            {{#if user.Tipo_de_usuario 5}}
                <li class="list__item list__item__padres list__item--click">
                    <div class="list__button list__button--click">
                    <a href="#" class="nav__link_A">
                        <i class='bx bx-user'></i>
                        <span class="links_name">Hijos</span>
                    </a>
                    </div>

                    <ul id="ul_hijos" class="list__show list__show__padres" style="height: 0px;">
                        {{#each childs}}
                            <li class="list__inside">
                                <a href="/perfil/p/{{ID}}" class="nav__link nav__link_A nav__link--inside" style="color:white">{{Nombre}}</a>
                            </li>
                        {{/each}}
                    </ul>
                </li>
            {{/if}}
            
            <li>
                <a href="../../../perfil">
                    <i class='bx bx-user'></i>
                    <span class="links_name">Mi cuenta</span>
                </a>
                <span class="tooltip">Mi cuenta</span>
            </li>
            <li>
                <a href="../../../chat">
                    <i class='bx bx-chat'></i>
                    <span class="links_name">Mensajes</span>
                </a>
                <span class="tooltip">Mensajes</span>
            </li>
            <li>
                {{!-- <a href="../../../documentos"> --}}
                <a href="../../../misCursos">
                    <i class='bx bx-folder'></i>
                    <span class="links_name">Documentos</span>
                </a>
                <span class="tooltip">Documentos</span>
            </li>
            <li class="profile">
                <div class="profile-details">
                    <!--<img src="profile.jpg" alt="profileImg">-->
                    <div class="name_job">
                        <div class="name">Hola, {{user.Nombre}}</div>
                        <div class="job">{{#tipoUsuarioToString user.Tipo_de_usuario}}{{/tipoUsuarioToString}}</div>
                    </div>
                </div>
                <a href="../../../logout"><i class='bx bx-log-out' id="log_out"></i></a>
                {{!-- Se puede usar appRoot  --}}
            </li>
        </ul>
    </div>