<div class="sidebar open">
        <div class="logo">
            <div class="logo_name">Bligs<u>ed</u></div>
            <i class='bx bx-menu' id="btn"></i>
        </div>
        <ul class="nav-list">
            <!-- <li>
          <i class='bx bx-search' ></i>
         <input type="text" placeholder="Search...">
         <span class="tooltip">Buscar</span>
      </li> -->
            <li>
                <a href="inicio_alumnos.html">
                    <i class='bx bx-grid-alt'></i>
                    <span class="links_name">Inicio</span>
                </a>
                <span class="tooltip">Inicio</span>
            </li>
            <li>
                <a href="cuenta_alumnos_remake.html">
                    <i class='bx bx-user'></i>
                    <span class="links_name">Mi cuenta</span>
                </a>
                <span class="tooltip">Mi cuenta</span>
            </li>
            <li>
                <a href="#">
                    <i class='bx bx-chat'></i>
                    <span class="links_name">Mensajes</span>
                </a>
                <span class="tooltip">Mensajes</span>
            </li>
            <li>
                <a href="documentos_alumnos.html">
                    <i class='bx bx-folder'></i>
                    <span class="links_name">Documentos</span>
                </a>
                <span class="tooltip">Documentos</span>
            </li>
            <li class="profile">
                <div class="profile-details">
                    <!--<img src="profile.jpg" alt="profileImg">-->
                    <div class="name_job">
                        <div class="name">Hola, Usuario123</div>
                        <div class="job">Alumno</div>
                    </div>
                </div>
                <i class='bx bx-log-out' id="log_out"></i>
            </li>
        </ul>
    </div>