<script type="text/javascript">
   function changeFunc() {
    var selectBox = document.getElementById("selectBox");
    var selectedValue = selectBox.options[selectBox.selectedIndex].value;
    var formulario = document.getElementById("form");
    formulario.submit();
   }
</script>

<div class="contenedor_datos">
    <h2>Boletín de calificaciones</h2>
    <div class="contenedor_nombre_doc">
        <form action="Boletin" id="form" method="GET">
            <select name="t" id="selectBox" onchange="changeFunc();">
                <option value="0">Final</option>
                <option value="1" selected="selected">Trimestre 1</option>
                <option value="2">Trimestre 2</option>
                <option value="3">Trimestre 3</option>
            </select>
        </form>
        <table>
        <tr>
            <th></th>
            {{#each cant}}
            <th>Npa{{#unoMas @index}}{{/unoMas}}</th>
            {{/each}}
        </tr>
        {{#each ma}}
        <tr>
            <td>{{@key}}</td>
            {{#each this}}
            <td>{{this}}</td>
            {{/each}}
        </tr>
        {{/each}}
    </table>
    </div>
</div>
</div>