

<div class="contenedor_datos">
    <h2 id="Juan">Boletín de calificaciones</h2>
    <div class="contenedor_nombre_doc">
        <select name="t" id="selectBox" onchange="changeFunc();">
            <option id="op1" value="1">Trimestre 1</option>
            <option id="op2" value="2">Trimestre 2</option>
            <option id="op3" value="3">Trimestre 3</option>
            <option id="op0" value="0">Final</option>
        </select>
        <table>
        <tr>
            <th></th>
            {{#each cant}}
            <th>Npa{{#unoMas @index}}{{/unoMas}}</th>
            {{/each}}
        </tr>
        {{#each ma}}
        <tr>
            <td>{{@key}}</td>
            {{#each this}}
            <td>{{this}}</td>
            {{/each}}
        </tr>
        {{/each}}
    </table>
    </div>
</div>
</div>

<script type="text/javascript"> //POSIBLE FALLA DE SEGURIDAD AGUANTE BOCA JUNIORS
    function changeFunc() {
        var selectBox = document.getElementById("selectBox");
        var selectedValue = selectBox.options[selectBox.selectedIndex].value;
        window.location.replace("/perfil/boletin" + selectedValue);
    };
    var url = window.location.href;
    var trim = url.split("boletin");
    if (trim[2]) {
        trim[1] = 1;
    }
    document.getElementById("op" + trim[1]).setAttribute('selected', 'selected');

</script>