

<div class="contenedor_datos">
    <h2>Boletín de calificaciones</h2>
    <div class="contenedor_nombre_doc">
        <select name="tipo_doc">
            <option value="Final">Final</option>
            <option value="Cuatrimestre 1">Cuatrimestre 1</option>
            <option value="Cuatrimestre 2">Cuatrimestre 2</option>
        </select>
        <table>
        <tr>
            <th></th>
            {{#each cant}}
            <th>Npa{{@index}}</th>
            {{/each}}
        </tr>
        {{#each ma}}
        <tr>
            <td>{{@key}}</td>
            {{#each this}}
            <td>{{this}}</td>
            {{/each}}
        </tr>
        {{/each}}
    </table>
    </div>
</div>
</div>