<div class="contenedor_datos">
<table>
    <tr>
        <th>Fecha</th>
        <th>Motivo</th>
        <th>Cantidad</th>
        <th>Tipo</th>
        {{#if tdu 3}}
        <th></th>
        {{/if}}
    </tr>
    {{#each in}}
        <tr id="{{@index}}">
            <td id="id" hidden>{{id}}</td>
            <td id="fecha">{{#dateTimeToDate fecha}}{{/dateTimeToDate}}</td>
            <td id="motivo">{{motivo}}</td>
            <td id="cantidad">{{cantidad}}</td>
            <td id="tipo">{{#tipoInasistenciaToString tipo}}{{/tipoInasistenciaToString}}</td>
            {{#if ../tdu 3}}
            <td id="button"><input type="button" value="editar" onclick="activarEdicion(this.parentElement.parentElement)"></td>
            {{/if}}
        </tr>
    {{/each}}
</table>
</div>

<script>
    function activarEdicion(parent){
        console.log(parent);
    }
</script>