
        <nav  class="nav_inicio">
          <label class="logo">Bligsed</label>
            <ul>
                <li><a href="">Contacto</a></li>
            </ul>
            <!-- <label id="icon">
                <i class="fas fa-bars"></i>
            </label> -->
        </nav>
        <div class="contenedor">
            <div class="contenedor_formulario">
                <form action="/login" method="POST" id="login" class="formulario-inicio-sesion">
                  <h2 class="titulo">Iniciar sesión</h2>
                  <div class="input">
                    <i class="fas fa-envelope"></i>
                    <input type="text" name="username" placeholder="E-mail" />
                  </div>
                  <div class="input">
                    <i class="fas fa-lock"></i>
                    <input type="password" name="password" placeholder="Contraseña" />
                  </div>
                  <input type="submit" name="login" value="Iniciar sesión" class="btn solid" />
                    <p id="no_cuenta">¿No tenes cuenta? <a href="registro.html">Registrate</a><p>
            </div>
        </div>
