
        <div class="contenedor">
            <div class="contenedor_formulario">
                <form action="/registro" method="POST" class="formulario-inicio-sesion">
                  <h2 class="titulo">Registro</h2>
                  <div class="input">
                    <i class="fas fa-envelope"></i>
                    <input type="text" name="username" placeholder="E-mail" />
                  </div>
                  <div class="input">
                    <i class="fas fa-lock"></i>
                    <input type="password" name="password" placeholder="Contraseña" />
                  </div>
                  <input type="submit" value="Registrarse" class="btn solid" />
                    <p>¿Ya tenes cuenta? <a href="login.html">Inicia sesión</a><p>
                    </form>
            </div>
        </div>
