   <div class="text">Tabla de curso</div>
      <div class="contenedor_documentacion">
      <div class="contenedor_nombre_doc">
        <select id="select_curso" onchange="updateURLCurso()">
          <option value="" hidden="hidden" selected="selected" id="optionSelected"></option>
          {{#each y}}
            <option value="{{ID}}">{{#cursoToString Nombre_curso}}{{/cursoToString}} - {{Materia}}</option>
          {{/each}}
        </select>
        <select id="select_trim" onchange="updateURLTrim()">
          <option value="" hidden="hidden" selected="selected" id="optionTrimSelected"></option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="0">Final</option>
        </select>
        <iconify-icon icon="bx:save" width="30" height="30" class="lapicito_boliviano"></iconify-icon>

      </div>
 
      <input class="inputBtnBlock layout_boton1" type="SUBMIT" form="form" value="Agregar Nota" name="button">
      <input class="inputBtnBlock layout_boton1" type="SUBMIT" form="form" value="Eliminar Nota" name="button">
      <input class="inputBtnBlock layout_boton1" type="SUBMIT" form="form" value="Guardar" name="button"/>
      <form action="" id="form" method="POST">
      <table class="bordered">
        <tr id="th">
          <th>Alumno</th>
          
          
        </tr>
      </table>

      
      </form>
    </div>
    
  <script>
    let [mat,trim] = window.location.href.split("/").slice(-2);
    $('#form').attr('action', `/cargarNotas/${mat}/${trim}`);
    $('#optionTrimSelected').html("Trimestre - "+trim);


    fetch(`/api/ListaAlumnosNotas/${mat}/${trim}`)
    .then((response) => response.json())
    .then((data) => {
      let numCols = getNumCols(data);
      insertTh(numCols);
      data.forEach(e => {insertRow(e)});
    });

    fetch(`/api/idMateriaToCurso/${mat}`)
    .then((response) => response.json())
    .then((data) => {
      document.getElementById("optionSelected").innerHTML = data['C'].split('').join('°') + ' - ' + data['B']
      });

    function insertTh(n){
      for(let i = 0 ; i < n ; i++){
        $('#th').append(`<th>NPA${i+1}</th>`);
      }
      $('#th').append(`<th>Final</th>`);
    }

    function getNumCols(data){
      let maxLen = 0;
      data.forEach(e => {
        if(e.notas.length > maxLen){
          maxLen = e.notas.length;
        }
      })
      return maxLen;
    }

    function insertRow(e){
      $('tbody').append(`
          <tr>
            <input type="hidden" name="alumno" value="${e.id}">
            <td><a href="/perfil/p/${e.id}">${e.nombre}</a></td>
            ${e.notas.map((n,i) => {
                //<td><input value="${n.nota}" type="number" name="${e.id}" id="nota_parcial" min="1" max="10" class="input_notas"></td>
              return `
                <td><input value="${n.nota}" type="number" name="nota_${i+1}" id="nota_parcial" min="0" max="10" class="input_notas"></td>
              `
            }).join('')}
            <td><input type="number" name="final" id="nota_final" class="input_notas" value="${e.nota_trimestre}"></td>
          </tr>
      `);
    }

    
    function updateURLCurso() {
        let selectBoxCurso = document.getElementById("select_curso");
        let selectedValueCurso = selectBoxCurso.options[selectBoxCurso.selectedIndex].value;
        window.location.replace("/cargarNotas/" + selectedValueCurso+"/"+trim);
    };

    function updateURLTrim(){
      let selectBoxTrim = document.getElementById("select_trim");
      let selectedValueTrim = selectBoxTrim.options[selectBoxTrim.selectedIndex].value;
      window.location.replace("/cargarNotas/" + mat+"/"+selectedValueTrim);
    };

    $('#form').submit(function(){
        $('.inputBtnBlock').each(function (index) {
          $(this).clone(false).removeAttr('id').prop('disabled', true).insertBefore($(this));
          $(this).hide();
          $('#form').prepend($(this));
          $('select').prop('disabled', true);
      });
    });



    let sidebar = document.querySelector(".sidebar");
    let closeBtn = document.querySelector("#btn");
    let searchBtn = document.querySelector(".bx-search");

    closeBtn.addEventListener("click", () => {
      sidebar.classList.toggle("open");
      menuBtnChange();//calling the function(optional)
    });


    // following are the code to change sidebar button(optional)
    function menuBtnChange() {
      if (sidebar.classList.contains("open")) {
        closeBtn.classList.replace("bx-menu", "bx-menu-alt-right");//replacing the iocns class
      } else {
        closeBtn.classList.replace("bx-menu-alt-right", "bx-menu");//replacing the iocns class
      }
    }
  </script>
