<div class="text">Mensajes</div>

<div class="container">
   <div class="row clearfix">
      <div class="col-lg-12">
         <div class="card chat-app">

            <div id="plist" class="people-list">
               <div class="input-group">
                  <div class="input-group-prepend">
                     <!-- <span class="input-group-text"></span>
                        <i class="fa fa-ellipsis-v"></i> -->
                     <div class="dropdown">  
                        <div class="botonesDropdown">
                              <button onclick="optionslist(1)" class="dropbtn group" title="Crear Grupo"><i class='bx bx-group' ></i></button>
                              <button onclick="optionslist(2)" class="dropbtn group" title="Enviar Mensaje"><i class='bx bx-message-add bx-tada-hover' ></i></button>
                              <button onclick="optionslist(3)" id="añadirMiembro" class="dropbtn group hid"><i class="bx bx-cog"></i></button>
                        </div>
                        <div id="culo" class="dropdown-content">
                           {{!-- <a href="#" id="abanGrupo">Abandonar grupo</a> --}}
                           {{!-- <a href="#" id="abanGrupo">Abandonar grupo</a> --}}
                        </div>

                        <div id="myDropdown1" class="dropdown-content">
                           <h4>Crear Grupo</h4>
                           <form id="fGrupo">
                              <input type="text" name="name" placeholder="Escriba el nombre del grupo" class="form-control" required>
                              <button class="btn btn-primary">Enviar</button>
                           </form>
                        </div>

                        <div id="myDropdown2" class="dropdown-content">
                           <h4>Abrir Chat</h4>
                           <form id="f2P2">
                              <input type="text" name="username" placeholder="Con quién quiere hablar?" class="form-control" required>
                              <button class="btn btn-primary">Enviar</button>
                           </form>
                        </div>

                        <div id="myDropdown3" class="dropdown-content">
                           <a onclick="optionslist(4)" href="#">Añadir Usuario</a>
                           <a id="abanGrupo"href="#"> Abandonar Chat</a>
                        </div>

                        <div id="myDropdown4" class="dropdown-content">
                           <h4>¿A qué usuario quiere meter?</h4>
                           <form>
                              <input type="text" name="username" placeholder="¿A quién quieres meter?" class="form-control" required>
                              <button class="btn btn-primary">Enviar</button>
                           </form>
                        </div>
                     </div>
                  </div>
               </div>
               <ul id="ulChats" class="list-unstyled chat-list mt-2 mb-0"></ul>
            </div>

            <div class="chat " id="divChatContainer">
               <div class="chat-header clearfix">
                  {{!-- Ponerle clase "esconder" al chat-header --}}
                  <div class="row">
                     <div class="col-lg-6">
                        <a href="javascript:void(0);" data-toggle="modal" data-target="#view_info">
                           <img src="/media/user2.png" alt="avatar">
                        </a>
                        <div class="chat-about">
                           <h6 id="chatName" class="m-b-0">Aun no hay un chat seleccionado</h6>
                           <small id="members"></small>
                        </div>
                     </div>
                     <div class="col-lg-6 hidden-sm text-right icons_mensajeria esconder">
                        <label style="cursor: pointer;" for="subir_archivo"><i class="fa fa-paperclip"></i></label>
                     </div>
                  </div>
               </div>
               <div class="chat-history">
                  <ul id="ulMsg" class="m-b-0">
                     
                  </ul>
               </div>
               <div class="chat-message clearfix esconder">
                  {{!-- Ponerle clase "esconder" al chat-message --}}
                  <div class="input-group mb-0" style="margin: 0;">
                     <div class="input-group-prepend">
                        <label for="boton_enviar">
                        <div class="icono_anashe" title="Enviar">
                           <span class="input-group-text icono_icono"><i class="fa fa-send"></i></span>
                        </div>
                        </label>
                     </div>
                     <form id="formMsg">
                        <input type="text" name="text" autocomplete="off" class="form-control" placeholder="Enter text here..." required>
                        <input hidden id="subir_archivo" type="file" name="file">
                        <button hidden id="boton_enviar" class="btn btn-primary">Enviar</button>
                     </form>
                  </div>
               </div>
               
               <div id="user" class="hid">
                  {{!-- <input type="hidden" value="{{user.user.id}}"> --}}
                  <input type="hidden" value="{{user.user.username}}">
                  <input type="hidden" value="{{user.user.Nombre}}">
               </div>
            </div>

         </div>
      </div>
   </div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/script_io_msj.js"></script>