.botones_alumno{
    list-style: none;
    font-size: 17px;
    height: 90%;
}


.nav__link{
    margin-bottom: 1%;
    color: #333;
    text-align:left;
}

.botones_alumno a{
    text-decoration: none;
    color: #333;
    display: block;
    width: 80%;
    height: 80%;
    position: relative;
}

.botones_alumno li{
    /* padding-top: 6%; */
    margin-bottom: 3%;
    margin-left: 3%;
    width:25%;
    height: auto;
    border-radius: 15px;
    text-align: left;
    cursor: pointer;
    color: #333;
    padding: 2%;
}

.botones_alumno li:hover{
    background-color: rgba(87,196,193,10);
    transition: 0.7s;
}

.botones_alumno li:hover a{
    color: white;
    transition: 0.1s;
}

.botones_alumno .iconify{
    position: absolute;
    left: 90%;
}