
.bordered label {
  display: inline-block;
  width: 100%;
  height: fit-content !important;
  background-color: transparent;
  height: 100px;
}


.contenedor_nombre_doc{
    grid-column: 1 / span 3;
    display: flex;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin-bottom: 1vh;
}

select{
    background: white;
    border-color: rgb(127, 213, 213);
    font-size: 14px;
    height: 30px;
    padding: 5px;
    width: 250px;
    border-radius: 0.5em;
    margin-top: 3%;
    margin-left: 1.5%;
    text-align: initial center;
}

.lapicito_boliviano{
  position: relative;
  color: white;
  height: auto;
  top: 5.5vh;
  left: 100vh;
  cursor: pointer;
}

select:focus{ outline: none;}

.home-section table{
    grid-column: 1 / span 3;
    border-collapse: collapse;
}

.table-wrapper{
  background-color: rgba(152, 172, 172, 0.305);
  width: 90%;
  height: fit-content;
  border-radius: 0.5em;
  margin: 1.5%;
}

.tw-header{
  content: "";
  /* background-color: rgb(127, 213, 213); */
  background-color: transparent;
  border-radius: 0.5em 0.5em 0 0;
  width: inherit;
  height: 3.1rem;
  position: absolute;
  border: 1px solid rgb(127, 213, 213);
}
table{
  border: 2px solid rgba(127, 213, 213, 0.456);
  border-collapse: collapse;
  overflow: hidden;
  border-radius: inherit;
}

tr:first-of-type td, tr:first-of-type th{
  border:1px solid white;
}

tr{
  height: 2rem;
}


.bordered {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 97.5%;
  /* margin: 1%; */
  margin-left: 1vw;
  margin-right: 1vw;
}

.bordered td, .bordered th {
  border:1px solid rgba(152, 172, 172, 0.305);
  padding: 8px;
}

.bordered tr:nth-child(even){background-color: #ffffff;}

.bordered tr:hover {background-color: rgba(127, 213, 213, 0.226);}

.bordered th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: rgb(127, 213, 213);
  color: white;
}
  
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: grey; 
    border-radius: 5px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #333; 
  }



  .bordered a {
    text-decoration: none;
    color: black;
  }

.bordered a:hover {
  color: rgb(83, 83, 83);
  transition: .1s;
}


  .input_notas {
    width: 40px;
    border-radius: 5px;
    outline: none;
    border: 1px solid black;
  }

.informe_bimestral{
  border-radius: 5px;
  outline: none;
  border: 1px solid black;
}

  input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


  input[type=number] {
    -moz-appearance: textfield;
  }


  .input_cargar_inasistencias {
    background: none;
    padding: 0;
    outline: inherit;
    font: inherit;
    font-size: 14px;
    margin-top: 3%;
    margin-left: 1.5%;
    border-color: rgb(127, 213, 213);
    border-radius: 10px;
    height: 30px;
    padding: 5px;
    cursor: pointer;
  }
  
.checkbox_alumnos {
  
  margin-top: 1%;
  margin-right: 1%;
  width: 25px;
  height:25px;
}

select::-ms-expand {
  display: none;
}

select {
  -webkit-appearance:none;
  -moz-appearance:none;
  -ms-appearance:none;
  appearance:none;
  outline:0;
  box-shadow:none;
  border:0!important;
  background: #5c6664;
  background-image: none;
  flex: 1;
  padding: 0 .5em;
  color:#fff;
  cursor:pointer;
  font-size: 1em;
  font-family: 'Open Sans', sans-serif;
}
select::-ms-expand {
  display: none;
}
.select {
  position: relative;
  display: flex;
  width: 20em;
  height: 2em;
  line-height: 3;
  background: #5c6664;
  overflow: hidden;
  border-radius: .25em;
  margin-left: 1.2%;
  margin-top: 3%;
}
.select::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1em;
  background: #2b2e2e;
  cursor:pointer;
  pointer-events:none;
  transition:.25s all ease;
}
.select:hover::after {
  color: #23b499;
}