.contenedor_documentacion{
    display: grid;
    grid-template-columns: 19% auto auto;
    grid-template-rows: 20% 80%;
    width: 75vw;
    height: 82vh;
    background-color:  rgba(4, 83, 63, 0.059);
    margin-left: 3vw;
    border-top-left-radius: 17px;
    border-top-right-radius: 17px;
}

.contenedor_nombre_doc{
    /* background-color: red; */
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

select{
    background: white;
    border-color: rgb(127, 213, 213);
    font-size: 14px;
    height: 30px;
    padding: 5px;
    width: 250px;
    border-radius: 0.5em;
    margin-top: 3%;
    margin-left: 1.5%;
    text-align: initial center;
}

.select_actualizarInasistencias {
    width: 50%;
}

select:focus{ outline: none;}

.home-section table{
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: none;
    text-align: left;
    padding: 8px;
  }


  
  tr:nth-child(even) {
    background-color: #f7f7f7;
  }


  .label_boton_editar, .label_boton_actualizar, .label_boton_cancelar, .label_boton_eliminar {
    cursor: pointer;
    width: auto;
    height: auto;
}

.bx-edit, .bx-trash, .bx-x, .bx-save {
    position: relative;
    font-size: 30px;
}


.bx-edit:hover{
    color: rgb(87,196,193);
    transition: 0.2s;
}

.bx-save:hover {
    color: dodgerblue;
    transition: 0.2s;
}



.bx-trash:hover {
    color: red;
    transition: 0.2s;
}

.bx-x:hover {
    color: #ff4343;
    transition: 0.2s;
}


.date_inasistencias {
    border: 1px solid rgb(87,196,193);
    cursor: pointer;
}

.date_inasistencias:hover {
    background-color: aquamarine;
    transition: 0.2s;
}