.contenedor_micuenta {
    display: grid;
    grid-template-columns: 19% auto;
    grid-template-rows: 25% 75%;
    width: 70vw;
    height: 78vh;
    background-color: transparent;
    margin-left: 3vw;
}

.contenedor_primario {
    grid-column: 1 / span 2;
    background-color: transparent;
    display: flex;
}

.contenedor_imagen{
    height: 100%;
    width: 19%;
}

.contenedor_imagen img {
    position: relative;
    width: 80%;
    height: auto;
    justify-content: center;
    margin-left: 10%;
}

.contenedor_nombre{
    background-color: transparent;
    width: 81%;
    height: auto;
    margin-left: 2.5%;
}

.nombre_alumno{
    background-color: transparent;
    font-size: 25px;
    font-weight: bold;
    width: fit-content;
    margin-top: 1%;
    margin-bottom: 1%;
    color: #333;
}

.profesion_alumno{
    background-color: transparent;
    width: 98%;
    height: auto;
    font-size: 17px;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 1%;
    color: #333;
    -webkit-box-shadow: 3px 5px 7px 4px #ABD7E0; 
    box-shadow: 3px 3px 5px 3px rgba(4, 83, 63, 0.059);;
}

.contenedor_botones {
    background-color: transparent;
}

.contenedor_datos h2 {
    height: 10%;
    /* padding: 15px; */
    margin-left: 5%;
}

.contenedor_datos div {
    height: 80%;
    width: 100%;
    margin-left: 3%;
    margin-right: 5%;
    background-color:  rgba(4, 83, 63, 0.059);
    border-radius: 17px;
    overflow-y: scroll;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: grey; 
    border-radius: 5px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #333; 
  }

.contenedor_datos{
    background-color: transparent;
    height: 100%;
    width: 100%;
    color: #333;
}

    /* .contenedor_datos p{
        font-size: 17px;
        margin-left: 5%;
        margin-right: 5%;
        margin-bottom: 3%;
        margin-top: 3%;
        padding: 1.5%;
    } */

.botones_alumno{
    list-style: none;
    font-size: 17px;
    height: 90%;
}

.botones_alumno a{
    text-decoration: none;
    color: #333;
    position: relative;
    top: 20%;
    margin: 0px;
    display: block;
    width: 100%;
    height: 100%;
}

.botones_alumno li{
    /* padding-top: 6%; */
    margin: 5%;
    margin-bottom: 10%;
    margin-top: 10%;
    width: auto;
    height: 15%;
    border-radius: 15px;
    text-align: center;
    cursor: pointer;
    /* background: #02002480; */
    color: #333
}

.botones_alumno li:hover{
    background-color: rgba(87,196,193,10);
    transition: 0.5s;
    
}

.botones_alumno li:hover a{
    color: white;
    transition: 0.1s;
}

.contenedor_datos .ingreso{
    border: 1px solid rgb(161, 160, 160);
    border-radius: 15px;
    padding: 0.5%;
    outline: none;
    margin-left: 2%;
    margin-top: 1%;
    margin-bottom: 2%;
    width: 30%;
}

input{
    margin-left: 2%;
}

.contenedor_datos p{
    margin-left: 2%;
}

.contenedor_datos h4{
    margin-left: 2%;
    margin-top: 2%;
}

#texto_vac{
    margin-left: 2%;
}

#select_vacunacion{
    margin-bottom: 1%;
    border-radius: 7px;
}

.color_fijo{
    background-color: rgba(87,196,193,10);
}

.color_fijo a{
    color: white;
}

#submitBtn{
    background-color: rgba(11, 97, 75, 0.129);
    border: none;
    padding: 1%;
    cursor: pointer;
    border-radius: 15px;
    width: 20%;
    height: auto;
    margin-bottom: 1%;
    position: relative;
    left: 35%;
}