
.home_section .text {
  height: 10vh;
}

.contenedor_inicio {
  display: grid;
  grid-template-columns: 70% auto;
  background-color: white;
  width: 100%;
  height: 87vh;
  overflow: scroll;
}

.botones_uwu{
display: grid;
grid-template-columns: 30% auto 15%;
margin-bottom: 3%;
/* justify-content: space-between; */
width: 80%;
}


.botones_uwu .iconify{
color: #333;
text-decoration: none;
}

.botones {
grid-column: 1;
}

.enviar_publicacion{
grid-column: 3;
background: rgb(87,196,193);
padding: 1%;
border-radius: 15px;
text-decoration: none;
color: white;
height: 7vh;
cursor: pointer;
border: none;
}

.enviar_publicacion:hover {
  background: rgb(58, 136, 133);
  transition: .2s;
}

.enviar_publicacion p {
position: relative;
top: 1.5vh;
text-align: center;
}

.iconify{
margin-right: 0.5%;
margin-left: 0.5%;
}

textarea {
resize: none;
}

.contenedor_publicaciones {
margin: 1% 10% 0 5%;
}

.contenedor_lateral {

background-color:  rgba(4, 83, 63, 0.059);
right: 10%;
height: 72.5vh;
width: 90%;
align-items: center;
border-radius: 20px;
text-align: left;
overflow: hidden;
}

.contenedor_lateral img {
margin-top: 5vh;
display: block;
margin-left: auto;
margin-right: auto;
width: 50%;
height: auto;
}

.texto_infocolegio{
font-weight: bold;
font-size: 130%;
text-align: center;
margin-bottom: 5%;
}

.contenedor_lateral div, ul {
margin-left: 5%;
margin-right: 5%;
list-style: none;
}

.ingreso_titulo{
height: 5vh;
width: 80%;
padding: 0;
position: relative;
left: 0;
outline: none;
border: 1px solid #cdcdcd;
border-color: rgba(0,0,0,.15);
background-color: white;
font-size: 16px;
border-radius: 7px;
margin-bottom: 1%;
}

.ingreso_titulo::placeholder{
position: relative;
left: 2vh;
}

.ingreso_publicacion{
height: 30vh;
width: 80%;
padding: 0;
position: relative;
left: 0;
outline: none;
border: 1px solid #cdcdcd;
border-color: rgba(0,0,0,.15);
background-color: white;
font-size: 16px;
border-radius: 10px;
margin-bottom: 1%;
overflow-x: hidden;
}


.ingreso_publicacion::placeholder {
position: relative;
left: 1vh;
top: 1vh;

}


.info_colegio li{
margin-bottom: 3%;
}

.autor_nombre{
font-weight: bold;
}

.autor_fecha{
border-bottom: 1px solid rgba(92, 102, 100, 0.295);
}

.datos_colegio {
  background-color: red;
}

.publicacion {
  /* border: 1px solid black;
  background-color: lightgreen; */
  height: auto;
  width: 80%;
  margin-bottom: 6vh;
  border-radius: 15px;
}

.contenido_titulo {
  margin-top: 3%;
  height: auto;
  font-size: 26px;
  border: 2px solid transparent;
  font-weight: bold;
  text-align: center;
  padding-top: 3%;
  letter-spacing: 1px;
  /* margin-bottom:1%; */
  background-color:  rgba(4, 83, 63, 0.059);
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  color: #333;
}

.contenido_texto {
/* color: white; */
padding: 15px;
width: 100%;
height: auto;
overflow: hidden;
background-color:  rgba(4, 83, 63, 0.059);
padding: 3%;
border-bottom-right-radius: 20px;
border-bottom-left-radius: 20px;
padding-bottom: 5%;
}

.contenido_vermas {
  height: 10vh;
  text-align: center;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color:  rgba(4, 83, 63, 0.059);
}

#boton_vermas {
  position: relative;
  margin: 5%;
  border: 1px solid #333;
  top:30%;
  border:none;
  text-decoration: none;
  color: #333;
}

#boton_vermas:hover{
  cursor: pointer;
  background-color:  rgba(4,4,83,0.05942752100840336);
  transition: 0.2s;
  border-radius: 7px;
  padding: 10px;
}

#log_out:hover{
color: red;
}

/* width */
::-webkit-scrollbar {
width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
background: grey; 
border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: #333; 
}

.modal-contenido{
/* display: grid; */
/* grid-template-columns: 66% 33%;
grid-template-rows: 15% 70% 15%; */
background-color:rgb(108, 197, 185);
width:50vw;
height: fit-content;
padding: 10px 20px;
margin: 20% auto;
position: relative;
border-radius: 15px;
bottom: 18%;
}

.modal_contenedor_primario {
/* grid-column: 1 / span 2; */
/* grid-row: 1; */
background-color:rgb(108, 197, 185);
}

.modal_contenedor_secundario {
grid-column: 1 / span 2;
grid-row: 2;
text-align: justify;
}

.modal_contenedor_secundario h2 {
margin-bottom: 1%;
margin-top: 1%;
}

.modal_contenedor_terciario {
grid-column: 1 / span 2;
grid-row: 3;
text-align: left;
}

.modal_publicaciones_autor {
width: 75%;
text-align: left;
padding-left: 3%;
}

/* .modal .boton_salir {
width: 25%;
text-decoration: none;
font-size: 3.5vh;
position: relative;
left: 45%;
} */

.modal{
background-color: rgba(0,0,0,.8);
position:fixed;
top:0;
right:0;
bottom:0;
left:0;
opacity: 0;
pointer-events:none;
transition: all 0.3s;
z-index: 5;
}

#miModal:target{
opacity:1;
pointer-events:auto;
}

.archivos_adjuntos li{
list-style: none;
}

.archivos_adjuntos a{
text-decoration: none;
color: #fff;
}

.archivos_adjuntos .iconify{
width: 3%;
height: auto;
margin-left: 2%;
}

.modal_contenedor_primario .iconify{
width: fit-content;
text-decoration: none;
font-size: 3.5vh;
position: relative;
left: 47%;
}

.modal_contenedor_primario .iconify:hover{
background-color: aliceblue;
border-radius: 7px;
transition: 0.5s;
}

.text {
width: 100%;
}

#contenedorPub{
  width: 100%;
}
.publicaciones {
  margin-bottom: 15vh;
}


.botones label {
  width: 100%;
  height: 100%;
}


.iconify {
  cursor: pointer;
}