<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../../css/estilos.css">
    <link rel="stylesheet" href="../../../css/plantilla_inicial.css">
    {{>(partials links)}}
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
<script
  src="https://code.jquery.com/jquery-3.6.1.js"
  integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI="
  crossorigin="anonymous"></script>
</head>
{{!-- Este style no deja que se scrollee en la ficha med --}}
<body style="overflow-x: hidden;"> 
    {{>sidebar user}}
    <section class="home-section">
        {{{body}}}
    </section>
    {{>script}}
</body>

</html>