<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body style="overflow-y:hidden; overflow-x: hidden;">
    <section class="home-section">
        {{{body}}}
    </section>
</body>

</html>