<li>
    <a href="../../../buscarCuenta">
        <i class='bx bx-folder'></i>
        <span class="links_name">Buscar cuenta</span>
    </a>
    <span class="tooltip">Buscar cuenta</span>
</li>
<li>
    <a href="../../../buscarCurso">
        <i class='bx bx-folder'></i>
        <span class="links_name">Buscar curso</span>
    </a>
    <span class="tooltip">Buscar curso</span>
</li>
<li>
    <a href="../../../buscarMateria">
        <i class='bx bx-folder'></i>
        <span class="links_name">Buscar materia</span>
    </a>
    <span class="tooltip">Buscar materia</span>
</li>