  <body>
    <ul id="contenedor-mensajes"></ul>
    <form action="" onsubmit="pushMsg(this.msg.value); return false">
      <input type="text" id="msg" placeholder="Escribe un mensaje..."/>
      <input type="submit" value="Enviar"/>
    </form>
  </body>