<div class="contenedor_crearEditar">
    <h1>Crear...</h1>
    <ul>
                <li class="li_crear">
                    <a href="../../../crear_cuentas">
                        <i class='bx bx-folder'></i>
                        Crear cuentas
                    </a>
                </li>
                <li class="li_crear">
                    <a class="culo" href="../../../crear_curso">
                        <i class='bx bx-folder'></i>
                        Crear Cursos
                    </a>
                </li>
                <li class="li_crear">
                    <a href="../../../crear_materias">
                        <i class='bx bx-folder'></i>
                        Crear Materias
                    </a>
                </li>
    </ul> 
</div>

