<div class="contenedor_creacion_materia">
  <form id="form" method="post">
    <h1>Creación de Curso</h1>
    <br>
    <h4>Seleccione el año del curso</h4>
    <select id="a" name="a">
      <option selected value="-1">Seleccione un año</option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
      <option value="7">7</option>
    </select>

    <br> <br> <br>

    <h4>Seleccione la división del curso</h4>
    <select id="d" name="d">
      <option selected value="-1">Seleccione una división</option>
      <option value="A">A</option>
      <option value="B">B</option>
      <option value="C">C</option>
      <option value="D">D</option>
      <option value="E">E</option>
      <option value="F">F</option>
      <option value="G">G</option>
      <option value="H">H</option>
    </select>

    <button type="submit" class="boton_siguiente"> Crear Materia
    </button>


  </form>
</div>

<div id="cursosHid" style="display: none;">
  {{#each cursos}}
  <p>{{name}}</p>
  {{/each}}
</div>
<script>
  var c, d;
  window.onload = e => {
    let cursos = document.getElementById('cursosHid');
    c = [];
    d = [];
    for (let i = 0; i < cursos.childElementCount; i++) {
      c.push(cursos.children[i].innerHTML);
      d.push(cursos.children[i].innerHTML[1]);
    }
  }
  $('#form').submit(e => {
    e.preventDefault();

    let curso = e.target.a.value + e.target.d.value;

    if (e.target.a.value == -1) {
      alert('Debes seleccionar un año para el curso');
    } else if (e.target.d.value == -1) {
      alert('Debes seleccionar una división para el curso');
    } else {
      $.ajax({
        type: "POST",
        url: "../../../../../../../../../../crear_curso",
        data: { c: curso }
      });
      alert('Se creo el curso correctamente.');
      window.location.reload();
    }
  });

  //ways to retrieve selected option and text outside handler
  $('#a').on('change', function () {
    for (let i = 1; i < $('#d')[0].children.length; i++) {
      document.getElementById('d').children[i].style.display = "block";
    }
    c.forEach(e => {
      if (e[0] == this.value && d.includes(e[1])) {
        let x;
        switch (e[1]) {
          case 'A': x = 1; break;
          case 'B': x = 2; break;
          case 'C': x = 3; break;
          case 'D': x = 4; break;
          case 'E': x = 5; break;
          case 'F': x = 6; break;
          case 'G': x = 7; break;
          case 'H': x = 8; break;
        }
        document.getElementById('d').children[x].style.display = "none";
      }
    });
  });
</script>