
            <li>
                <a href="../../../crear_cuentas">
                    <i class='bx bx-folder'></i>
                    <span class="links_name">Crear cuentas</span>
                </a>
                <span class="tooltip">Crear cuentas</span>  
            </li>
            <li>
                <a href="../../../crear_curso">
                    <i class='bx bx-folder'></i>
                    <span class="links_name">Crear Cursos</span>
                </a>
                <span class="tooltip">Crear Cursos</span>  
            </li>
            <li>
                <a href="../../../crear_materias">
                    <i class='bx bx-folder'></i>
                    <span class="links_name">Crear Materias</span>
                </a>
                <span class="tooltip">Crear Materias</span>  
            </li>
     