<div class="text">Crear Cuentas</div>

        <div class="contenedor_creacioncuenta2"> 
          <h1>Creación de Cuentas - Usuario N</h1>

          <h4>Correo Electrónico</h4>
          <input type="text" placeholder="Escriba un correo electrónico..." class="ingreso2"></input>

          <h4>DNI</h4>
          <input type="text" placeholder="Escriba un numero..." class="ingreso2"></input>

          <select name="select_sexo" id="">
            <option value="1">Femenino</option>
            <option value="2">Masculino</option>
            <option value="3">No binario</option>
         </select>

          <h4>Nombre y Apellido</h4>
          <input type="text" placeholder="Escriba un nombre y apellido..." class="ingreso2"></input>

          <h4>Fecha de nacimiento</h4>
          <input type="date" class="ingreso2"></input>

          
          <h4>Teléfono</h4>
          <input type="text" placeholder="Escriba un teléfono..." class="ingreso2"></input>

          <h4>Domicilio</h4>
          <input type="text" placeholder="Escriba un domicilio..." class="ingreso2"></input>
         <br><br><br>
         <!--Datos del Padre 2-->
         <h4>DNI del Padre 1</h4>
         <input type="text" placeholder="Escriba un numero..." class="ingreso2"></input>

         <select name="select_sexo" id="">
           <option value="1">Femenino</option>
           <option value="2">Maculino</option>
           <option value="3">No binario</option>
        </select>

         <h4>Nombre y Apellido del Padre 1</h4>
         <input type="text" placeholder="Escriba un nombre y apellido..." class="ingreso2"></input>

         <h4>Fecha de nacimiento del Padre 1</h4>
         <input type="date" class="ingreso2"></input>

         <h4>Correo Electrónico del Padre 1</h4>
         <input type="text" placeholder="Escriba un correo electrónico..." class="ingreso2"></input>

         <h4>Teléfono del Padre 1</h4>
         <input type="text" placeholder="Escriba un teléfono..." class="ingreso2"></input>

         <h4>Domicilio del Padre 1</h4>
         <input type="text" placeholder="Escriba un domicilio..." class="ingreso2"></input>

         <a class="boton_siguiente2" href="">Completar</a>
        </div>