<table>
    <tr>
        <td>MATERIA</td>
        <td>Nota 1</td>
        <td>Nota 2</td>
        <td>Promedio</td>
    </tr>
    {{#each ma}}
        {{>calificaciones/TrNota this}}
    {{/each}}
</table>