<table>
    <tr>
        <td>MATERIA</td> 
        {{!-- NECESTIO QUE LAS NOTAS ESTAS SE GENEREN DE FORMA DINAMICA SEGUN LA FILA MAS LARGA --}}
        <td>Nota 1</td>
        <td>Nota 2</td>
        <td>Promedio</td>
    </tr>
    {{#each ma}}
    <tr>
        <td>{{@key}}</td>
        {{#each this}}
            <td>{{this}}</td>
        {{/each}}
    </tr>
    {{/each}}
</table>