<div class="text">Documentación</div>
<div class="contenedor_documentacion">
    <div class="contenedor_nombre_doc">

        <select name="tipo_doc">
            <option value="facturas">Facturas</option>
            <option value="recibos">Recibos</option>
            <option value="constancias">Constancias</option>
            <option value="permisos">Permisos</option>
        </select>
    </div>
    <table class="bordered">
        <tr>
            <th>Fecha</th>
            <th>Alumno</th>
            <th>Nombre</th>
            <th>Titulo</th>
            <th>Curso</th>
        </tr>
        <tr>
            <td>31/05/2022</td>
            <td>ARROTA, María Belén</td>
            <td>0122A0040001876_0001_04_ARROTA, Maria Belen.pdf</td>
            <td>CUOTA JUNIO</td>
            <td>7º "C" - (50) TÉCNICO EN INFORMÁTICA PERSONAL Y PROFESIONAL</td>
        </tr>
        <tr>
            <td>31/05/2022</td>
            <td>ARROTA, María Belén</td>
            <td>0122A0040001876_0001_04_ARROTA, Maria Belen.pdf</td>
            <td>CUOTA JUNIO</td>
            <td>7º "C" - (50) TÉCNICO EN INFORMÁTICA PERSONAL Y PROFESIONAL</td>
        </tr>
        <tr>
            <td>31/05/2022</td>
            <td>ARROTA, María Belén</td>
            <td>0122A0040001876_0001_04_ARROTA, Maria Belen.pdf</td>
            <td>CUOTA JUNIO</td>
            <td>7º "C" - (50) TÉCNICO EN INFORMÁTICA PERSONAL Y PROFESIONAL</td>
        </tr>
        <tr>
            <td>31/05/2022</td>
            <td>ARROTA, María Belén</td>
            <td>0122A0040001876_0001_04_ARROTA, Maria Belen.pdf</td>
            <td>CUOTA JUNIO</td>
            <td>7º "C" - (50) TÉCNICO EN INFORMÁTICA PERSONAL Y PROFESIONAL</td>
        </tr>

    </table>
</div>