<div class="contenedor_crearEditar">
        <h1>Editar...</h1>

        <ul>
            <li class="li_crear">
                <a href="../../../buscarCuenta">
                    <i class='bx bx-user'></i>
                    Editar cuentas
                </a>
            </li>
            <li class="li_crear">
                <a class="culo" href="../../../editarCurso">
                    <i class='bx bx-chalkboard'></i>
                    Editar Cursos
                </a>
            </li>
            <li class="li_crear">
                <a href="../../../editarMateria">
                    <i class='bx bx-folder'></i>
                    Editar Materias
                </a>
            </li>
        </ul> 
</div>