<li>
    <a href="../../../buscarCuenta">
        <i class='bx bx-folder'></i>
        <span class="links_name">Editar cuenta</span>
    </a>
    <span class="tooltip">Editar cuenta</span>
</li>
<li>
    <a href="../../../editarCurso">
        <i class='bx bx-folder'></i>
        <span class="links_name">Editar curso</span>
    </a>
    <span class="tooltip">Editar curso</span>
</li>
<li>
    <a href="../../../editarMateria">
        <i class='bx bx-folder'></i>
        <span class="links_name">Editar materia</span>
    </a>
    <span class="tooltip">Editar materia</span>
</li>