<h1>Inasistencias</h1>
<table id="tabla_inasistencias">
    <tr>
        <td colspan="2">Fecha</td>
        <td colspan="3">Motivo</td>
        <td>Cantidad</td>
        <td>Tipo</td>
    </tr>
    {{#each in}}
        <tr class={{#ifCond @index}}'a'{{/ifCond}}>
            <td colspan="2">{{fecha}}</td>
            <td colspan="3">{{motivo}}</td>
            <td>{{cantidad}}</td>
            <td>{{tipo}}</td>
        </tr>
    {{/each}}
</table>