<div class="text">Mensajes</div>

<div class="container">
   <div class="row clearfix">
      <div class="col-lg-12">
         <div class="card chat-app">

            <div id="plist" class="people-list">
               <div class="input-group">
                  <div class="input-group-prepend">
                     <!-- <span class="input-group-text"></span>
                        <i class="fa fa-ellipsis-v"></i> -->
                     <div class="dropdown">  
                        <button onclick="optionslist()" class="dropbtn"><i class="fa fa-ellipsis-v"></i></button>
                        <div id="myDropdown1" class="dropdown-content">
                           <a href="#" id="crearGrupo">Crear grupo</a>
                           <a href="#" id="añadirMiembro">Añadir miembro</a>
                           {{!-- <a href="#" id="abanGrupo">Abandonar grupo</a> --}}
                           <a href="#" id="abanGrupo">Abandonar grupo</a>

                           <form id="fGrupo">
                              <input type="text" name="name" placeholder="Escriba el nombre del grupo" class="form-control" required>
                              <button class="btn btn-primary">Enviar</button>
                           </form>
                           
                           <form id="f2P2">
                              <input type="text" name="name" placeholder="Con quien quiere hablar?" class="form-control" required>
                              <input type="text" name="id" class="hid" value="6" required>
                              <button class="btn btn-primary">Enviar</button>
                           </form>

                           <form id="añadirMiembro" class="hid">
                              <input type="text" name="id" placeholder="A quien queres meter" class="form-control" required>
                              <button class="btn btn-primary">Enviar</button>
                           </form>
                        </div>
                     </div>
                  </div>
               </div>
               <ul id="ulChats" class="list-unstyled chat-list mt-2 mb-0">
                  
               </ul>
            </div>

            <div class="chat " id="divChatContainer">
               <div class="chat-header clearfix">
                  <div class="row">
                     <div class="col-lg-6">
                        <a href="javascript:void(0);" data-toggle="modal" data-target="#view_info">
                           <img src="/media/user2.png" alt="avatar">
                        </a>
                        <div class="chat-about">
                           <h6 id="chatName" class="m-b-0">Aun no hay un chat seleccionado</h6>
                           <small id="members"></small>
                        </div>
                     </div>
                     <div class="col-lg-6 hidden-sm text-right icons_mensajeria">
                        <label style="cursor: pointer;" for="subir_archivo"><i class="fa fa-paperclip"></i></label>
                     </div>
                  </div>
               </div>
               <div class="chat-history">
                  <ul id="ulMsg" class="m-b-0">
                     
                  </ul>
               </div>
               <div class="chat-message clearfix ">
                  <div class="input-group mb-0" style="margin: 0;">
                     <div class="input-group-prepend">
                        <label for="boton_enviar">
                        <div class="icono_anashe" title="Enviar">
                           <span class="input-group-text icono_icono"><i class="fa fa-send"></i></span>
                        </div>
                        </label>
                     </div>
                     <form id="formMsg">
                        <input type="text" name="text" autocomplete="off" class="form-control" placeholder="Enter text here..." required>
                        <input hidden id="subir_archivo" type="file" name="file">
                        <button hidden id="boton_enviar" class="btn btn-primary">Enviar</button>
                     </form>
                  </div>
               </div>
               
               <div id="user" class="hid">
                  <p>{{user.user.id}}</p>
                  <p>{{user.user.Nombre}}</p>
               </div>
            </div>

         </div>
      </div>
   </div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/script_io_msj.js"></script>