<div class="text">Mi Cuenta</div>
<div class="contenedor_micuenta">
    <div class="contenedor_primario">
        <div class="contenedor_imagen">
            <img src="media/user_png.png" alt="">
        </div>
        <div class="contenedor_nombre">
            <div class="nombre_alumno">APELLIDO, Nombre</div>
            <div class="profesion_alumno">7°"C" - Técnico en informática personal y profesional</div>
        </div>
    </div>

    <div class="contenedor_botones">
        <ul class="botones_alumno">
            <li><a href="cuenta_alumnos_remake.html">Datos Personales</a></li>
            <li><a href="ficha_medica.html">Ficha Médica</a></li>
            <li><a href="Boletin_alumnos_prueba.html">Boletín</a></li>
            <li><a href="inasistencias.html">Inasistencias</a></li>
            <li><a href="">Mensajes</a></li>
        </ul>
    </div>
    <div class="contenedor_datos">
        <h2>Boletín de inasistencias</h2>
        <div class="contenedor_nombre_doc">
            <select name="tipo_doc">
                <option value="Cuatrimestre 1">Cuatrimestre 1</option>
                <option value="Cuatrimestre 2">Cuatrimestre 2</option>
                {{>inasistencias}}
            </select>
        </div>
    </div>
</div>