<table>
    <tr>
        <th></th>
        <th>Npa1</th>
        <th>Npa2</th>
        <th>Npa3</th>
        <th>Npa4</th>
        <th>Npa5</th>
        <th>Npa6</th>
    </tr>
    {{#each ma}}
        <tr>
            <td>{{@key}}</td>
            {{#each this}}
                <td>{{this}}</td>
            {{/each}}
        </tr>
    {{/each}} 

</table>