<table>
    <tr>
        <td>MATERIA</td>
        <td>Cuat1</td>
        <td>Cuat2</td>
        <td>Final</td>
    </tr>
    {{#each ma}}
        {{>calificaciones/TrMateria this}}
    {{/each}} 
</table>