<form id="form-xample" action="/xample" method="post" enctype="multipart/form-data">
    <input type="file" name="file" />
    <input type="submit" value="SUBMIT" />
</form>

<script src="/js/post-formdata.js"></script>