<div class="text">Inicio</div>
<div class="contenedor_inicio" style="overflow-y: hidden;">
    <div class="contenedor_publicaciones">
        {{#if user.user.Tipo_de_usuario 2}}
        <div class="contenedor_datos">
            <div class="input_publicaciones">
                <form id="form_pub" action="/pub" method="post">
                    <input type="text" name="title" placeholder="Título..." class="ingreso_titulo">
                    <textarea class="ingreso_publicacion" name="desc" rows="4" cols="50"
                        placeholder="Escriba una publicación..."></textarea>
                    <input type="text" name="autor" value="{{user.user.Nombre}}" style="display: none;">
                    <div class="botones_uwu">
                        <div class="botones">
                            <a href="" class="iconify"><span class="iconify" data-icon="simple-line-icons:paper-clip"
                                    data-width="25"></span></a>
                            <a href="" class="iconify"><span class="iconify" data-icon="bxs:image-add"
                                    data-width="25"></span></a>
                            <a href="" class="iconify"><span class="iconify" data-icon="bi:emoji-smile"
                                    data-width="25"></span></a>
                            <a href="" class="iconify"><span class="iconify" data-icon="akar-icons:calendar"
                                    data-width="25"></span></a>
                        </div>
                        {{!-- <a href="" class="enviar_publicacion">
                            <p>Enviar</p>
                        </a> --}}
                        <input type="submit" class="enviar_publicacion" value="Enviar">
                    </div>
                </form>
            </div>
        </div>
        {{/if}}
        {{#each pub}}
        <div class="publicaciones_autor">
            <div class="autor_nombre">
                {{Nombre}}
            </div>
            <div class="autor_fecha">
                12/3/2022
            </div>
        </div>
        <div class="publicaciones_contenido">
            <div class="contenido_titulo">
                {{titulo}}
            </div>
            <div class="contenido_texto">
                {{descripcion}}
            </div>
            <div class="contenido_vermas">
                <a class="boton_vermas">Ver Mas</a>
            </div>
        </div>
        {{/each}}
    </div>

    <div class="contenedor_lateral">
        <img src="/media/logoJXXIII-sin_fondo.png" alt="Logo Juan XXIII">
        <br>
        <div class="texto_infocolegio">Instituto Juan XXIII / Colegio Parroquial Juan XXIII </div>
        <ul class="info_colegio">
          <li>
            <i class='bx bx-phone'></i>
            <span>4464-3255</span>
          </li>

          <li>
            <i class='bx bx-envelope'></i>
            <span>colparroquial23@hotmail.com</span>
          </li>

          <li>
            <i class='bx bx-home'></i>
            <span>9 de Julio - 125</span>
          </li>
        </ul>
      </div>
</div>

<script src="http://code.jquery.com/jquery-3.1.0.min.js"></script>
<script src="/js/posts.js"></script>