<body>
<form id="form_data" action="/xample" method="post" >
    <input type="text" id="msg" placeholder="Escribe un mensaje...">
    <input type="submit" id="btn" value="Enviar"/>
</form>    
</body>