#contenedor_micuenta {
    width: 70vw;
    height: 85vh;
    background-color: transparent;
    margin-left: 3vw;
}


#contenedor_primario {
    width: auto;
    height: 30%;
    background-color: green;
    display: flex;
}

#contenedor_secundario {
    width: auto;
    height: 70%;
    background-color: blue;
    display: flex;
}




#contenedor_primario img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 100%;
}

#contenedor_imagen {
    position: relative;
    width: fit-content;
    margin-left: 5%;
    height: 80%;
    background-color: darkcyan;
}


#datos_alumno_primario {
    height: auto;
    width: 80%;
    background-color: blueviolet;
    margin-left: 1%;
    margin-right: 1%;
}

#nombre_alumno {
    font-weight: bold;
    font-size: 2em;
}

#curso_alumno {
    width: 70%;
    position: relative;
    border: 1px solid black;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 1%;
    font-size: 1em;
    left: 5%;
}

#contenedor_botones {
    height: auto;
    width: 25%;
    background-color: red;
}

#contenedor_datos {
    height: auto;
    width: 35%;
    background-color: lightblue;
}

#contenedor_contacto {
    height: auto;
    width: 35%;
    background-color: lightgreen;
}