.contenedor_micuenta {
    display: grid;
    grid-template-columns: 19% auto auto;
    grid-template-rows: 25% 75%;
    width: 70vw;
    height: 78vh;
    background-color: transparent;
    margin-left: 3vw;
}

.contenedor_primario {
    grid-column: 1 / span 3;
    background-color: transparent;
    display: flex;
}

.contenedor_imagen{
    height: 100%;
    width: 19%;
}

.contenedor_imagen img {
    position: relative;
    width: 80%;
    height: auto;
    justify-content: center;
    margin-left: 10%;
}

.contenedor_nombre{
    background-color: transparent;
    width: 81%;
    height: auto;
    margin-left: 2.5%;
}

.nombre_alumno{
    background-color: transparent;
    font-size: 25px;
    font-weight: bold;
    width: fit-content;
    margin-top: 1%;
    margin-bottom: 1%;
}

.profesion_alumno{
    background-color: transparent;
    width: 98%;
    height: auto;
    font-size: 17px;
    padding-top: 1%;
    padding-bottom: 1%;
    border: 1px solid black;
    padding-left: 1%;
}

.contenedor_botones {
    background-color: transparent;
}

.contenedor_datos h2 {
    height: 10%;
    /* padding: 15px; */
    margin-left: 5%;
}

.contenedor_contacto h2 {
    height: 10%;
    /* padding: 15px; */ 
    margin-left: 5%;
}

.contenedor_datos div {
    border: 1px solid black;
    height: 80%;
    width: auto;
    margin-left: 5%;
    margin-right: 5%;
}

.contenedor_contacto div {
    border: 1px solid black;
    height: 80%;
    width: auto;
    margin-left: 5%;
    margin-right: 5%;
}

.contenedor_datos{
    background-color: transparent;
    height: 100%;
    width: 100%;
}

.contenedor_datos p{
    font-size: 17px;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 3%;
    margin-top: 3%;

}

.contenedor_contacto{
    background-color: transparent;
    height: 100%;
    width: 100%;
}

.contenedor_contacto p{
    font-size: 17px;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 3%;
    margin-top: 3%;
}

.botones_alumno{
    list-style: none;
    font-size: 17px;
    height: 90%;
}

.botones_alumno a{
    text-decoration: none;
}

.botones_alumno li{
    padding-top: 6%;
    margin: 5%;
    margin-bottom: 10%;
    margin-top: 10%;
    width: auto;
    height: 15%;
    border: 1px solid black;
    border-radius: 25px;
    text-align: center;
    cursor: pointer;
}