.contenedor_documentacion{
    display: grid;
    grid-template-columns: 19% auto auto;
    grid-template-rows: 20% 80%;
    width: 75vw;
    height: 82vh;
    background-color:  rgba(4, 83, 63, 0.059);
    margin-left: 3vw;
    border-top-left-radius: 17px;
    border-top-right-radius: 17px;
}

.contenedor_nombre_doc{
    grid-column: 1 / span 3;
    display: flex;
    background-color: rgba(97,196,193,10);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

select{
    background: white;
    border: none;
    font-size: 14px;
    height: 30px;
    padding: 5px;
    width: 250px;
    border-radius: 15px;
    margin-top: 3%;
    margin-left: 3%  
}

.lapicito_boliviano{
  position: relative;
  color: white;
  height: auto;
  top: 5.5vh;
  left: 100vh;
  cursor: pointer;
}

select:focus{ outline: none;}

.home-section table{
    grid-column: 1 / span 3;
    border-collapse: collapse;
    
    width: 100%;
}

td, th {
    text-align: left;
    padding: 8px;
  }

  tr:nth-child(even) {
    background-color: #dddddd;
  }

  .bordered { 
    border: solid #dddddd 1px; 
    -moz-border-radius: 20px; 
    -webkit-border-radius: 20px; 
    border-radius: 20px; 
    box-shadow: 0 3px #dddddd; 
}
 

::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: grey; 
    border-radius: 5px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #333; 
  }



  .bordered a {
    text-decoration: none;
  }


  .input_notas {
    width: 40px;
    border-radius: 5px;
    outline: none;
    border: 1px solid black;
  }

.informe_bimestral{
  border-radius: 5px;
  outline: none;
  border: 1px solid black;
}

  input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


  input[type=number] {
    -moz-appearance: textfield;
  }
  