* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: white;
}

nav {
    height: 80px;
    width: 100%;
    background: #242733;
}

.logo {
 font-size: 35px;
 font-weight: bold;
 color: white;
 padding: 0px 100px;
 line-height: 80px;
}

nav ul {
    float: right;
    margin-right: 40px;
}

nav li {
    display: inline-block;
    margin: 0 8px;
    line-height: 80px;
}

nav a {
    color: white;
    font-size: 18px;
    text-transform: uppercase;
    border: 1px solid transparent;
    padding: 7px 10px;
    border-radius: 3px;
}

a.active, a:hover {
    color: #8795dd;
    transition: .5s;
}

nav #icon {
    color: white;
    font-size: 30px;
    line-height: 80px;
    float: right;
    margin-right: 40px;
    cursor: pointer;
    display: none;
    margin-top: 25px;
}

@media (max-width: 1048px) {
    label.logo {
        font-size: 32px;
        padding-left: 60px;
    }

    nav ul {
        margin-right: 20px;
    }

    nav a {
        font-size: 17px;
    }
}

@media (max-width: 909px) {
    nav #icon {
        display: block;
    }

    nav ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2f3640;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }

    nav li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav a {
        font-size: 20px;
    }
    
    a.active, a:hover {
        border: none;
        color: 3498db;

    }

    nav ul.show {
        left: 0;
    }
}


.contenedor_publicacion {
    background-color: transparent;
    position: fixed;
    left: 15vh;
    bottom: 15vh;
    width: 45vw;
    height: 60vh;
}

.contenedor_titulo {
    background-color: transparent;
    width: 100%;
    height: 15%;
    margin-bottom: 3%;
    border-bottom: 1px solid #242733;
}

.titulo_emisor {
    position: relative;
    background-color: transparent;
    height: fit-content;
    top: 20%;
    font-weight:bold;
    font-size: 18px;
}

.titulo_fecha {
    position: relative;
    background-color: transparent;
    height: fit-content;
    top: 20%;
    font-size: 15px;
    color: #56595e;
}

.contenedor_contenido {
    background-color: transparent;
    width: 100%;
    height: 85%;
    margin-top: 1%;
    border: 1px solid #242733;
    border-radius: 5px;
    box-shadow: 5px 5px 5px #aaaaaa;
}

.contenido_titulo{
    text-transform: uppercase;
    font-size: 30px;
    text-align: center;
    margin-top: 40px;
}

.contenido_texto{
    font-size: 18px;
    text-align: justify;
    margin: 20px;
}