.contenedor_principal {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 15% 80% 15%;
    margin-left: 4%;
    background-color: red;
    height: 75vh;
    width: 75vw;
}

.contenedor_superior_busqueda {
    background-color: lightblue;
}

.contenedor_superior {
    background-color: lightgoldenrodyellow;
}

.contenedor_medio_lateral {
    background-color: blueviolet;
}

.contenedor_medio_lateral ul {
    list-style: none;
}

.contenedor_medio_lateral li{
    padding: 5%;
}

.contenedor_medio_lateral li:hover {
    cursor: pointer;
    background-color: rgb(162, 105, 216);
    transition: 0.2s;
}

.contenedor_medio {
    background-color: darkgray;
}

.contenedor_inferior {
    background-color: darkkhaki;
}

.contenedor_input {
    position: relative;
    left: 7%;
    width: fit-content;
    margin-top: 2%;
    padding-left: 1.5%;
    padding-right: 1.5%;
    background-color: white;
    border-radius: 100px;
} 

.contenedor_input a {
    text-decoration: none;
    font-size: 15px;
}

.contenedor_input input {
    border: none;
    outline: none;
    width: 90vh;
    border-radius: 100px;
    padding: 2%;
}

.contenedor_inferior_lateral {
    background-color: lawngreen;
}

.contenedor_superior_busqueda_input {
    position: relative;
    left: 2%;
    width: fit-content;
    margin-top: 7.5%;
    margin-left: 7%;
    padding-left: 1.5%;
    padding-right: 1.5%;
    background-color: white;
    border-radius: 100px;
}

.contenedor_superior_busqueda_input input {
    border: none;
    outline: none;
    width: 35vh;
    border-radius: 100px;
    padding: 1%;
}

.contenedor_superior h4 {
    margin-left: 4%;
    margin-top: 2%;
}

.contenedor_superior h6 {
    margin-left: 4%;
}

.contenedor_medio{
    overflow-y: auto;
}

.contenedor_medio img{
    display: inline-block;
    height: 15%;
    width: auto;
    margin-left: 2%;
    margin-top: 2%;
    margin-right: 2%;
}

.mensaje_recibido{
    position: absolute;
    top: 26%;
    display: inline-block;
    background-color: rgb(61, 27, 94);
    border-radius: 7px;
    color: white;
    padding: 1%;
    margin-right: 5%;
}



